{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="aPropos">

    <div class="header-page">
    <h1>À propos de <span class="color">moi {{ user.firstname }}</span></h1>
    <p><span class="color">Qui-</span>suis-je?</p>
    </div>  

    <div class="container-aPropos">

        <div class="gauche-aPropos">
            {{ user.description | raw }}

            <a href="{{ asset('assets/cv-pdf/CV-DevWeb-DamienLebon2024.pdf')}}" download="CV-Damien-Lebon">
                <button class="bg-color-hov"><img src="{{ asset('assets/images/telecharger-arrow.png')}}" alt="">Télécharger mon CV</button>
            </a>
            
        </div>

        
        <div class="droite-aPropos">
            <div class="container-gallerie-lbjs">

                <!--Photo-pro-->

                <a class="lb-img" data-fslightbox="gallery" href="{{ asset('assets/images/photo-pro/photo-pro-DamienLebon.jpg')}}">
                    <img src="{{ asset('assets/images/non-modifie/small-500-500/photo-pro-SM-500.jpg')}}" alt="">
                </a>

                <!--Integration wireframe-->

                <a class="lb-img" data-fslightbox="gallery" href="{{ asset('assets/images/non-modifie/int-maquette-photographe.png')}}">
                    <img src="{{ asset('assets/images/non-modifie/small-500-500/int-maquette-photographe-SM-500.png')}}" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="{{ asset('assets/images/non-modifie/cv-en-ligne.png')}}">
                    <img src="{{ asset('assets/images/non-modifie/small-500-500/cv-en-ligne-SM-500.png')}}" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/int-maquette-find-fitness.png">
                    <img src="images/non-modifie/small-500-500/int-maquette-find-fitness-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/int-maquette-ville-futuriste.png">
                    <img src="images/non-modifie/small-500-500/int-maquette-ville-futuriste-SM-500.jpg" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/int-maquette-proclean-pressing.png">
                    <img src="images/non-modifie/small-500-500/int-maquette-proclean-pressing-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/int-maquette-motor-expert.png">
                    <img src="images/non-modifie/small-500-500/int-maquette-motor-expert-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/tuto-tacos-lyon.png">
                    <img src="images/non-modifie/small-500-500/tuto-tacos-lyon-SM-500.png" alt="">
                </a>

                <!--Fonctionnalites-->

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/feature-her-banner-slider.png">
                    <img src="images/non-modifie/small-500-500/feature-her-banner-slider-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/feature-search-bar.png">
                    <img src="images/non-modifie/small-500-500/feature-search-bar-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/feature-img-gallery.png">
                    <img src="images/non-modifie/small-500-500/feature-img-gallery-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/feature-calculator.png">
                    <img src="images/non-modifie/small-500-500/feature-calculator-SM-500.png" alt="">
                </a>


                <!--Wireframe-->

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/wireframe-cocoon.png">
                    <img src="images/non-modifie/small-500-500/wireframe-cocoon-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/wireframe-business-case.png">
                    <img src="images/non-modifie/small-500-500/wireframe-business-case-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/wireframe-secdron.png">
                    <img src="images/non-modifie/small-500-500/wireframe-secdron-SM-500.png" alt="">
                </a>

                <!--CMS-->

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/cms-amongzus.png">
                    <img src="images/non-modifie/small-500-500/cms-amongzus-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/cms-connectus.png">
                    <img src="images/non-modifie/small-500-500/cms-connectus-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/cms-mfestival.png">
                    <img src="images/non-modifie/small-500-500/cms-mfestival-SM-500.png" alt="">
                </a>

                <!--Game-->

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/game-morpion.png">
                    <img src="images/non-modifie/small-500-500/game-morpion-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/game-pianonline.png">
                    <img src="images/non-modifie/small-500-500/game-pianonline-SM-500.png" alt="">
                </a>

                <a class="lb-img" data-fslightbox="gallery" href="images/non-modifie/game-pokedex.png">
                    <img src="images/non-modifie/small-500-500/game-pokedex-SM-500.png" alt="">
                </a>

            </div>

            <div class="droite-aPropos-btn">
                <a href="portfolio.html" class="bg-color-hov">Voir mon portfolio</a>
            </div>
            
        </div>

    </div>

    <!--Mes services-->

    <div class="header-page">
        <h1>Mes <span class="color">Hard Skills</span></h1>
    </div> 

    <div class="containerCard-service">

        <div class="card-service bg-color-hov">
            <div class="service-img">
                <img class="bg-color icon-service" src="{{ asset('assets/images/coding.png')}}" alt="service-one">
                <h2>Langages</h2>
                <img class="icon-arrow" src="{{ asset('assets/images/icon-arrow.png')}}" alt="arrow">
            </div>
            <div class="service-description">

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/html-5.png')}}" alt="">
                    <p>HTML</p>
                </div>

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/css-3.png')}}" alt="">
                    <p>CSS</p>
                </div>

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/js.png')}}" alt="">
                    <p>Javascript</p>
                </div>
                
                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/php.png')}}" alt="">
                    <p>PHP</p>
                </div>

            </div>
        </div>

        <div class="card-service bg-color-hov">
            <div class="service-img">
                <img class="bg-color icon-service" src="{{ asset('assets/images/iconCompetences/boite-a-outils.png')}}" alt="service-three">
                <h2>Framework</h2>
                <img class="icon-arrow" src="{{ asset('assets/images/icon-arrow.png')}}" alt="arrow">
            </div>
            <div class="service-description">

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/icons8-bootstrap-48.png')}}" alt="">
                    <p>Bootstrap</p>
                </div>

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/icons8-symfony-48.png')}}" alt="">
                    <p>Symfony</p>
                </div>

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/icons8-angularjs-48.png')}}" alt="">
                    <p>Angular</p>
                </div>
            </div>
        </div>

        <div class="card-service bg-color-hov">
            <div class="service-img">
                <img class="bg-color icon-service" src="{{ asset('assets/images/iconCompetences/tableau-de-palette-de-peinture-avec-pinceau.png')}}" alt="service-two">
                <h2>Graphisme/Maquette</h2>
                <img class="icon-arrow" src="{{ asset('assets/images/icon-arrow.png')}}" alt="arrow">
            </div>
            <div class="service-description">
                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/figma.png')}}" alt="">
                    <p>Figma</p>
                </div>

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/icons8-canva-48.png')}}" alt="">
                    <p>Canva</p>
                </div>
            </div>
        </div>

        <div class="card-service bg-color-hov">
            <div class="service-img">
                <img class="bg-color icon-service" src="{{ asset('assets/images/iconCompetences/cms.png')}}" alt="service-three">
                <h2>CMS</h2>
                <img class="icon-arrow" src="{{ asset('assets/images/icon-arrow.png')}}" alt="arrow">
            </div>
            <div class="service-description">

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/icons8-wordpress-50.png')}}" alt="">
                    <p>WordPress</p>
                </div>

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/icons8-webflow-50.png')}}" alt="">
                    <p>Webflow</p>
                </div>
                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/wix.png')}}" alt="">
                    <p>Wix</p>
                </div>
            </div>
        </div>

        <div class="card-service bg-color-hov">
            <div class="service-img">
                <img class="bg-color icon-service" src="{{ asset('assets/images/iconCompetences/planete-terre.png')}}" alt="service-three">
                <h2>Environnement</h2>
                <img class="icon-arrow" src="{{ asset('assets/images/icon-arrow.png')}}" alt="arrow">
            </div>
            <div class="service-description">
                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/icons8-visual-studio-code-2019-48.png')}}" alt="">
                    <p>Visual Studio Code</p>
                </div>

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/git.png')}}" alt="">
                    <p>Git Bash</p>
                </div>

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/github.png')}}" alt="">
                    <p>GitHub</p>
                </div>

                <div class="service-description-content">
                    <img src="{{ asset('assets/images/iconCompetences/google.png')}}" alt="">
                    <p>Google Workspace</p>
                </div>
            </div>
        </div>

        
    </div>
    
    <!--Compétences-->
    
    <div class="header-page">
        <h1>Mes <span class="color">Soft Skills</span></h1>
    </div> 

    <div class="container-competences">

        <h2 class="bg-color-hov">Autonome</h2>

        <h2 class="bg-color-hov">Curieux</h2>

        <h2 class="bg-color-hov">Positif</h2>

        <h2 class="bg-color-hov">Rigoureux</h2>

    </div>


</div>
{% endblock %}
