{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="aPropos">
    <div class="header-page">
    <h1>À propos de <span class="color">moi</span></h1>
    <p><span class="color">Qui-</span>suis-je?</p>
    </div>  
    <div class="container-aPropos">
        <div class="gauche-aPropos">
            {{ user.description | raw }}
            <a href="{{ vich_uploader_asset(cv, 'cvFile') }}" download="CV-Damien-Lebon">
                <button class="bg-color-hov"><img src="{{ asset('assets/images/telecharger-arrow.png')}}" alt="">Télécharger mon CV</button>
            </a>
        </div>
        <div class="droite-aPropos">
            <div class="container-gallerie-lbjs">
                {% for image in images %}
                    <a class="lb-img" data-fslightbox="gallery" href="{{ vich_uploader_asset(image, 'galleryFile') }}">
                        <img src="{{ vich_uploader_asset(image, 'galleryFile') }}" alt="">
                    </a>
                {% endfor %}
            </div>
            <div class="droite-aPropos-btn">
                <a href="portfolio.html" class="bg-color-hov">Voir mon portfolio</a>
            </div>
        </div>
    </div>

    <!--Mes services-->
    <div class="header-page">
        <h1>Mes <span class="color">Hard Skills</span></h1>
    </div> 
    <div class="containerCard-service">
        {% for category in categories %}
        <div class="card-service bg-color-hov">
            <div class="service-img">
                <img class="bg-color icon-service" src="{{ vich_uploader_asset(category, 'categorieFile') }}" alt="service-one">
                <h2>{{ category.title }}</h2>
                <img class="icon-arrow" src="{{ asset('assets/images/icon-arrow.png')}}" alt="arrow">
            </div>
            <div class="service-description">
                {% for hardskill in category.hardskills %}
                    <div class="service-description-content">
                        <img src="{{ vich_uploader_asset(hardskill, 'hardSkillsFile') }}" alt="">
                        <p>{{ hardskill.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!--Compétences-->
    <div class="header-page">
        <h1>Mes <span class="color">Soft Skills</span></h1>
    </div> 
    <div class="container-competences">
        {% for softSkill in softSkills %}
            <h2 class="bg-color-hov">{{ softSkill.name }}</h2>
        {% endfor %}
    </div>
</div>
{% endblock %}
