{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="main-photo-container bg-color">
    <div class="secondary-photo-container">
    </div>
    <img src="{{ asset('assets/images/photo-pro/photo-pro-final-rotate.png')}}" alt="">
</div>

<div class="background-image" ></div>  

<div class="presentation">
    <h1> <span class="color">Damien</span> Lebon</h1>
    <p>Je suis un développeur <span
        class="txt-rotate color"
        data-period="2000"
        data-rotate='["Front End", "Back End", "Full Stack"]'></span>.</p>
    <p class="news-info">Je suis à la recherche d'un <span class="color">emploi CDI/CDD</span> , dans le domaine du développement web.</p>
    <div class="presentation-btn">
        <a href="about.html">
            <button class="bg-color-hov">Me découvrir</button>
        </a>
        <a href="contact.html">
            <button class="bg-color-hov">Contactez moi</button>
        </a>
    </div>
</div>


<!--Liens vers les réseaux sociaux, il faut mettre votre url à la place du #-->
<div class="social-media-links">
    <a id="linkedin" href="{{ user.linkedin }}" target="_blank">
        <img src="{{ asset('assets/images/linkedin logo.png')}}" class="social-media" alt="linkedin-logo">
    </a>
    <a id="github" href="{{ user.github }}" target="_blank">
        <img src="{{ asset('assets/images/iconCompetences/github.png')}}" class="social-media" alt="github-logo">
    </a>
    <a id="mail" href="Mailto:{{ user.email }}">
        <img src="{{ asset('assets/images/mail.png')}}" alt="email-pic" class="contactpic">
    </a>
    <a id="phone" href="Tel:{{ user.phoneNumber }}">
        <img src="{{ asset('assets/images/call.png')}}" alt="phone-pic" class="contactpic">
    </a>
</div>
{% endblock %}
