{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<a class="anchor bg-color" href="#top">
    <img src="{{ asset('assets/images/start-up.png')}}" alt="">
</a>

<div class="portfolio">
    <div class="header-page">
        <h1><span class="color">Portfolio</span></h1>
        <p><span class="color">Quelques projets </span>que j'ai pu réaliser seul ou en équipe...</p>
    </div>
    <div class="nav-portfolio">
        {% for category in categories %}
            <a class="bg-color-hov" href="{{ path ('category_detail', {'slug': category.slug}) }}">{{ category.title }}</a>
        {% endfor %}
    </div>
    {% for category in categories %}
        <div class="header-page">
            <h1>{{ category.title }}</h1>
        </div>
        {% for project in category.projects %}
            {% if project.portfolio %}
                <div class="container-projet" >
                    <div class="projet-image" >
                        <img src="{{ vich_uploader_asset(project, 'projectFile') | imagine_filter('portfolio') }}" alt="portfolio-first">
                    </div>
                    <div class="projet-text" >
                        <h2><span class="color">{{ project.title }}</h2>
                        <p>{{ project.description }}</p>
                        <a href="{{ project.link }}" target="_blank">
                            <button class="btnPortfolio bg-color-hov">Voir le projet</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
