{% extends 'base.html.twig' %}

{% block title %}Mes expériences{% endblock %}

{% block body %}
<div class="blog">
    <div class="header-page">
        <h1><span class="color">Expériences</span></h1>
        <p><span class="color">Mes </span>expériences, mon parcours.</p>
    </div> 
    <div class="container-article">
    {% for exp in experiences %}
        <div class="card-exp">
            <div class="img-date-title">
                <img src="{{ vich_uploader_asset(exp, 'experienceFile') | imagine_filter('experiences') }}" alt="">
                <div class="blog-date bg-color">
                    <p>{{ exp.dateStart|date('m-Y') }} - {{ exp.dateEnd|date('m-Y') }}</p>
                </div>
                <div class="exp-title">
                    <img class="exp-icon-arrow" src="{{ asset('assets/images/icon-arrow.png')}}" alt="arrow">
                    <h3>{{ exp.title }}</h3>
                </div>
            </div>
            <div class="text-exp">
                {{ exp.description|raw }}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
